<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>vue抽奖弹框-jq22.com</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/choujiang.css">
    <link rel="stylesheet" href="css/index.css">
    <script src="js/jquery.min.js"></script>
    <script type="text/javascript">
        function change(n){
                if(n>2) n=1;  // 一共2张图片，所以循环替换
                n++;
                var t = "images/" + n + ".png";
                $(".luckyDraw").css("background-image", "url("+ t +")");
                setTimeout("change("+n+")",500);
            }
        $(function(){
            setTimeout("change(1)", 500);    
        })
    </script>
</head>
<body>
<div id="container" class="container">
    <!--<a @click="luckyDrawShow=true" class="begin-btn">开始抽奖</a>-->
    <div class="logo"></div>
    <div class="luckPng"></div>
    <div class="selectDraw">
        <span>奖项选择：</span>
        <el-select v-model="value2" :disabled="isDrawing" placeholder="请选择奖项">
            <el-option
                    v-for="item in options2"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value"
                    :disabled="item.disabled">
            </el-option>
        </el-select>
    </div>
    <transition name="bounce">
        <template>
            <!--该内容在页面加载时不被渲染，但可以在运行时使用JavaScript进行实例化。-->
            <div v-show="luckyDrawShow" id="luckyDraw" class="luckyDraw">
                <!--<p class="title" style="display: none">抽奖活动<a @click="luckyDrawShow=false">关闭</a></p>-->
                <div id="draw" class="draw">
                    <transition name="out-intile">
                        <div class="tips" :key="finnal" v-cloak="" >
                            <p>{{finnal}}</p>
                        </div>
                    </transition>
                    <transition name="out-intile">
                        <div class="drawInfo" v-show="value2" :key="finnal" v-cloak="" >
                            <p>奖项：{{drawName}}</p>
                            <p>数量:{{dNum}}</p>
                            <p>奖品:{{drawGoods}}</p>
                        </div>
                    </transition>
                    <!--<div class="userPicWrap" v-show="tabchange">
                        <img class="uerPic" v-bind:src="'images/'+drawImg+'.png'" alt="">
                    </div>-->
                    <div class="userPicWrap style-3" >
                        <ul>
                            <li v-for="i in curentdrawListpeople">{{i}}</li>
                        </ul>
                    </div>
                    <transition name="out-in">
                        <div v-show="tabchange" :key="winner" v-cloak="" class="content">
                            <p>{{winner}}</p>
                        </div>
                    </transition>

                    <transition name="out-in-out">
                        <div v-show="!tabchange" class="getDrawList">
                            <div class="nameListdraw">
                                <a>获奖名单</a>
                            </div>
                            <template>
                                <div class="contentList">
                                    <div class="titleList">
                                        <span>工号</span>
                                        <span>姓名</span>
                                        <span>部门</span>
                                        <span>奖项</span>
                                        <span>奖品</span>
                                    </div>
                                    <div class="listShow style-3">
                                        <div v-for="item in tableData3" class="listItem">
                                            <span>{{item.Num}}</span>
                                            <span>{{item.name}}</span>
                                            <span>{{item.address}}</span>
                                            <span>{{item.drawNum}}</span>
                                            <span>{{item.draw}}</span>
                                        </div>
                                    </div>
                                </div>
                            </template>
                        </div>
                    </transition>
                </div>
            </div>
        </template>
    </transition>
    <div class="btn-box" v-show="tabchange===true">
        <a @click="start" class="clickDraw"></a>
        <a @click="iscanTab" class="getWinner"></a>
        <!--<a @click="end" class="getWinner">结束</a>-->
    </div>
    <div class="btn-box" style="display: none" v-show="tabchange===false">

        <a @click="tabchange=true" class="continueDraw"></a>
    </div>
</div>
<script src="js/vue.js"></script>
<script src="js/index.js"></script>

<script>
    new Vue({
        el: "#container",
        data: {
            luckyDrawShow: true,
            winner: "", //获奖者
            timer: null, //定时器
            autoPlause:null,//定时器
            times: 150, //抽奖速度
            delayshow:null,
            len: null, //抽奖人数
            wIndex: null, //抽奖者位置
            draw: [], //抽奖者
            drawfb:[],
            finnal:'',//中奖tips
            watingTime:10000,
            drawLen:0,
            tabchange:true,/*tab切换*/
            /* 一等奖，二等奖，三等奖获得者 */
            drawImg:'touxiang',
            drawTimes:0,
            tedraw:[],
            drawpeople:0,
            yidraw:[],
            erdraw:[],
            sandraw:[],
            sidraw:[],
            fivedraw:[],
            sixdraw:[],
            luckdraw:[],
            /*获奖名单排序从上到下，默认为空*/
            tableData3: [],
            curentdrawarr:[],
            curentdrawListpeople:[],
            finnal:'请选取奖项',
            /*定义奖项的奖励*/
            options2: [
                {
                    value: 'tedraw',
                    label: '特等奖',
                    drawGood:'苹果iPad',
                    num:1, //奖品数量
                    imgurl:'alldraw/te',
                    drawtimes:1

                }, {
                    value: 'yidraw',
                    label: '一等奖',
                    drawGood:'KINDLE',
                    num:2,
                    imgurl:'alldraw/1',
                    drawtimes:2
                }, {
                    value: 'erdraw',
                    label: '二等奖',
                    drawGood:'电压力锅',
                    num:6,
                    imgurl:'alldraw/2',
                    drawtimes:2
                }, {
                    value: 'sandraw',
                    label: '三等奖',
                    drawGood:'四件套',
                    num:10,
                    imgurl:'alldraw/3',
                    drawtimes:3
                },  {
                    value: 'sidraw',
                    label: '四等奖',
                    drawGood:'小米手环',
                    num:15,
                    imgurl:'alldraw/4',
                    drawtimes:3
                },{
                    value: 'fivedraw',
                    label: '五等奖',
                    drawGood:'坚果礼盒',
                    num:30,
                    imgurl:'alldraw/5',
                    drawtimes:3
                },{
                    value: 'sixdraw',
                    label: '六等奖',
                    drawGood:'保温杯/电吹风',
                    num:50,
                    imgurl:'alldraw/6',
                    drawtimes:5
                }/*,{
                    value: 'luckdraw',
                    label: '安慰奖',
                    drawGood:'待定',
                    num:7,
                    imgurl:'touxiang'
                }*/
            ],
            value2:'',// 奖项model绑定改变select值（elemet ui 组件）
            drawName:'奖项名称',//奖项名称
            drawGoods:'奖励物品名称', //奖励物品名称
            dNum:'剩余数量',
            isDrawing:false,/*正在抽奖中不允许点击select*/
            ischeckSatae:false/*抽奖过程中不允许去查看获奖压面*/
        },
        methods: {
            start: function() { //开始抽奖
                if(this.value2===''){
                    alert('开始抽奖前必须选择奖项')
                    return
                }
                this.curentdrawListpeople=[];
                this.isDrawing=true;
                this.ischeckSatae=true
                this.len = this.draw.length; //获取抽奖人数
                this.drawfb = this.draw.slice();
                if (!this.timer) { //如果抽奖不是正在进行中则开始抽奖
                    if(this.isDrawing){
                        //如果要求抽奖几次数据，根据奖品数量来
                        if(this.drawTimes>0){
                           /* console.log(this.drawTimes)
                            console.log(this.len)*/
                            this.finnal=`正在抽取${this.drawName}...`
                            this.drawpeople=Math.round(this.dNum/this.drawTimes)
                            this.getWinner(this.drawpeople)
                            this.curentdrawarr.sort(this.sortNumber)
                          /*  console.log(this.curentdrawarr)*/
                            this.showdelaypeople()
                            for(var i in this.options2){
                                if(this.options2[i].value===this.value2){
                                    this.options2[i].drawtimes=this.options2[i].drawtimes-1
                                    this.drawTimes=this.options2[i].drawtimes
                                }
                            }
                        }else {
                            alert('此奖项已经抽取完毕，请选择其他奖项')
                            this.value2=''
                            this.isDrawing=false
                            return
                        }
                    }
                    //一次抽一个
                    this.timer = setInterval(function() {
                        this.animationchange();
                    }.bind(this), this.times)
                    this.autoPlause=setTimeout(function () {
                        this.end()
                    }.bind(this), this.watingTime)
                }else {
                    alert('请等待该次抽奖结束！')
                }
            },
            getWinner: function(drawpeople) { //根据随机数找到当前的中奖者
                for(var i=0;i<drawpeople;i++){
                    this.getx(this.curentdrawarr);
                }
            },
            showdelaypeople:function () {
                this.delayshow=setInterval(function () {
                    if(this.drawLen > this.drawpeople-1){
                        return
                    }
                    var currentPerson=this.draw[this.curentdrawarr[0]]
                    this.curentdrawListpeople.push(currentPerson.prtpNo + " -- " + currentPerson.prtpName)
                    var templeObj={};
                        templeObj.Num=currentPerson.prtpNo;
                        templeObj.name=currentPerson.prtpName;
                        templeObj.address=currentPerson.company;
                        templeObj.drawNum=this.drawName;
                        templeObj.draw=this.drawGoods;
                    this[this.value2].push(templeObj)
                    this.dNum--
                    this.draw.splice(this.curentdrawarr[0],1)
                    this.curentdrawarr.shift()
                    this.drawLen++
                }.bind(this), this.watingTime/this.drawpeople)
            },
            getx:function(arr){
                for(var i=0;i>-1;i++){
                    var flag = true;
                    var num = this.GetRandom(0, this.len - 1);
                    for(var i in arr){
                        if(arr[i] === num){
                            flag= false;
                            break;
                        }
                    }
                    if(flag === true){
                        arr.push(num);
                        return;
                    }
                }
            },
            animationchange:function () {
                this.wIndex = this.GetRandom(0, this.drawfb.length-1);
                this.currentPerson=this.drawfb[this.wIndex]
                this.winner = this.currentPerson.prtpNo + " -- " + this.currentPerson.prtpName;
            },
            changeContent:function () {
                this.tabchange = !this.tabchange
            },
            end: function() { //结束抽奖
                clearInterval(this.timer);
                clearInterval(this.delayshow);
                clearTimeout(this.autoPlause);
                this.timer = null;
                this.delayshow = null;
                this.currentPerson=this.drawfb[this.wIndex]
                this.finnal=`恭喜！~下列获奖者人品爆棚抽中了${this.drawName}`
                this.getdrawList();
                this.drawLen=0;
                this.isDrawing=false;
                this.ischeckSatae=false;
            },
            GetRandom: function(Min, Max) { //随机数
                return Min + (Math.floor(Math.random() * (Max - Min)));
            },
            getDataPerson:function () {
                var that=this
                $.getJSON("json/allperson.json",function(data){
                    that.draw=data.allperson
                    that.winner = that.draw[0].prtpNo + " -- " +that.draw[0].prtpName;
                })
            },
            getdrawList:function () {
                this.tableData3=this.tedraw.concat(this.yidraw.concat(this.erdraw.concat(this.sandraw.concat(this.sidraw.concat(this.fivedraw.concat(this.sixdraw.concat(this.luckdraw)))))))
            },
            iscanTab:function () {
                if(this.ischeckSatae){
                    this.tabchange=true
                }else {
                    this.tabchange=false
                }
            },
            checkdValue2:function() {
                if (this.value2) {
                    var op2=this.options2;
                    for(var i=0;i<op2.length;i++){
                        if(op2[i].value === this.value2) {
                             this.drawName=op2[i].label;
                             this.drawGoods=op2[i].drawGood;
                             this.dNum= op2[i].num - this[this.value2].length;
                             this.drawTimes=op2[i].drawtimes;
                             this.curentdrawListpeople=[];
                             this.finnal=`请开始抽取${this.drawName}`;
                             this.drawLen=0;
                        }
                    }
                }
                else {
                    this.drawName='未选择奖项';
                    this.drawGoods='未选择奖品';
                    this.finnal='请选择奖项'
                    this.dNum=0;
                    this.drawTimes=0;
                    this.curentdrawListpeople=[];
                    this.drawLen=0;
                }
            },
            sortNumber: function (a,b){
                    return b - a
            }
        },
        computed:{
        },
        watch: {
            times: function() { //抽奖速度被调整后
                if (this.timer) { //如果正在抽奖中，则需要重启定时器，不然速度无法改变
                    clearInterval(this.timer);
                    this.timer = setInterval(function() {
                        this.getWinner();
                    }.bind(this), this.times)
                }
            },
            value2: function (newval) {
                this.checkdValue2()
            },
            tableData3:function () {
            },
            tedraw:function (newVal) {
                if(newVal.length>=this.options2[0].num){
                    this.options2[0].disabled=true
                }
            },
            yidraw:function (newVal) {
                if(newVal.length>=this.options2[1].num){
                    this.options2[1].disabled=true
                }
            },
            erdraw:function (newVal) {
                if(newVal.length>=this.options2[2].num){
                    this.options2[2].disabled=true
                }
            },
            sandraw:function (newVal) {
                if(newVal.length>=this.options2[3].num){
                    this.options2[3].disabled=true
                }
            },
            sidraw:function (newVal) {
                if(newVal.length>=this.options2[4].num){
                    this.options2[4].disabled=true
                }
            },
            fivedraw:function (newVal) {
                if(newVal.length>=this.options2[5].num){
                    this.options2[5].disabled=true
                }
            },
            sixdraw:function (newVal) {
                if(newVal.length>=this.options2[6].num){
                    this.options2[6].disabled=true
                }
            }
        },
        created: function() { //创建实例之后获取人员名单
            this.getDataPerson();
        }
    })
</script>

</body>
</html>
